@tailwind base;
@tailwind components;
@tailwind utilities;
/* أسلوب التحريك للعنصر */
details > summary {
  cursor: pointer;
}

details .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

details[open] .content {
  max-height: 500px; /* عدّل القيم حسب المحتوى */
}
.swiper-button-next {
  display: none !important;
}
.swiper-button-prev {
  display: none !important;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none !important;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
  -webkit-animation: spin-slow 4s linear infinite;
}
